ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}

li {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  list-style-type: none;
  color: white;
}
body {
  background-color: #1b1b1b;
}

button {
  text-align: center;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
